/* .bb h1{
  text-align: center;
}
.bb{
  background-color: gray;
  color: red;
}
.cc{
  text-align: center;
}
.cc button{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: larger;
  font-style: italic;
  color: yellow;
  background-color: black;
  margin-left:40px ;

}
.aa{
  background-color: grey;
} */
/* .gg{
  
  background-color: rgb(47, 44, 92);
  width: 450px;
  text-align: center;
  margin-left:500px ;
  margin-top: 250px;
  
  color: yellow;
}
.gg legend{
  background-color: black;
  color: yellow;
}
.gg button{
  margin-left: 20px;
  color: white;
  background-color: rgb(64, 64, 88);
  border-radius: 10px;
  width: 150px;
}
.gg input{
  margin-left: 30px;
  background-color: white;
}
*{
  background-color: rgb(47, 44, 92);
} */
